<%- include('~header.ejs')%>
   <% if (messages.success.length > 0) {%>
    <div class="notification__wrapper active error">
        <div class="notification__container">
            <div class="notification__icon">
    
            </div>
            <div >
                <p class="notification__message"><%= messages.success %></p>
            </div>
    
        </div>
    
    </div>
   <%} %>

<div class="header-area inverse">
    <h1>LunchBook Archive</h1>
</div>
<div class="dashboard-area">
    <form action="" class="dateSearchForm">
        <label>
            <span>Search date:</span>
            <input type="date" value= "<%= parseDateToInputField(Date.now()) %>"name="order_date">
        </label>
    </form>
    <table class="lunchTable">
        <thead>
            <th>Student ID</th>
            <th>Student Name</th>
            <!-- <th></th> -->
            <th>Meal Choice</th>
            <th>Date Signed</th>
        </thead>
        <tbody>
            <% orders.forEach((order)=>{ %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.studentName%></td>
                    <td><%= order.mealOptions%></td>
                    <td><%= parseDateToInputField(order.date) %></td>
                </tr>
            <%})%>

        </tbody>
    </table>
</div>
